body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #A1CCD1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.container:hover{
    box-shadow: 10px 10px 10px rgb(163, 161, 161);
}

h2{
  font-size: 30px;
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color:#A1CCD1;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #2b2929;
    padding: 10px 20px;
    border: 2px solid #A1CCD1;
    border-radius: 8px;
    cursor: pointer;
}